# Dependencias
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Variables de entorno
.env
.env.local

# Bases de datos SQLite temporales
*.db-shm
*.db-wal

# Archivos personales
PrintCards/
gemas.md
wow druida heal optimizacion gemas icc10.md
wow druida.md
wow equipo druida heal.md